<a
  class="list__collections__card window"
  href="{{ collection.url }}"
>
  <div class="title-bar">
    <div class="title-bar-text">
      {{ collection.title }}
    </div>
  </div>

  <figure class="list__collections__card__image">
    <img
      src="{{ collection.image | img_url: 'medium' }}"
    >
  </figure>
  
</a>

<style>
  .list__collections__card {
      width: 100%;
      height: 23rem;
      padding: 0.25rem;
      background-color: var(--color-base-200);
      display: flex;
      flex-direction: column;
    }

  @media all and (max-width: 35rem) {
    .list__collections__card {
      height: 30rem;
    }
  }

  .list__collections__card__image {
    width: 100%;
    flex: 1;
    overflow: hidden;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }

  .list__collections__card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

</style>