<section class="pagination__wrapper">
  {% if paginate.previous.is_link %}
    <a
      class="pagination__part"
      style="text-decoration: none;"
      href="{{ paginate.previous.url }}"
    >
      <
    </a>    
  {% endif %}


  {% for part in paginate.parts %}
    <a
      class="pagination__part"
      {% if part.is_link %}
        href="{{ part.url }}" 
      {% endif %}
    >
      {{ part.title}}
    </a>
  {% endfor %}

  {% if paginate.next.is_link %}
    <a
      class="pagination__part"
      style="text-decoration: none;"
      href="{{ paginate.next.url }}"
    >
      >
    </a>
  {% endif %}
</section>

<style>
  .pagination__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.75rem;
  }

  .pagination__part {
    font-size: 2rem;
  }
</style>